  .btn_style {
    background-color: #68bf6c;
    border: 1px solid #68bf6c;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    width: 17em;
    height: 2.5em;
  }

  .btn_cancel {
    background-color: white;
    border: 1px solid #68bf6c;
    border-radius: 6px;
    color: #68bf6c;
    font-weight: bold;
    width: 11em;
    height: 2.5em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .loader {
  border: 6px solid #e6eaf0;
  border-top: 6px solid #68bf6c;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  animation: spin 1s linear infinite;
  margin: 2rem auto;
}

@keyframes spin {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}